save-prefix=^

; Set URL for your scoped packages.
; For example package with name `@foo/bar` will use this URL for download
@kidscare-tech:registry=https://gitlab.com/api/v4/packages/npm/

; Add the token for the scoped packages URL. This will allow you to download
; `@foo/` packages from private projects.
; 'API' access token revoke here if necessary, once logged with kidscare.tech@gmail.com : https://gitlab.com/profile/personal_access_tokens
//gitlab.com/api/v4/packages/npm/:_authToken=kJsPCxeuKDXUGazwKxZn

; Add token for uploading to the registry. Replace <your_project_id>
; with the project you want your package to be uploaded to.
; 'API' access token revoke here if necessary, once logged with kidscare.tech@gmail.com : https://gitlab.com/profile/personal_access_tokens
//gitlab.com/api/v4/projects/14835130/packages/npm/:_authToken=kJsPCxeuKDXUGazwKxZn
